<div id="loginPage">
  <div id="login">
    <form name="form-login">
      <span class="fontawesome-user"></span>
      <input type="text" id="user" placeholder="Username">
      <br/>
      <span class="fontawesome-lock"></span>
      <input type="password" id="pass" placeholder="Password">
       <span class="fontawesome-lock"></span>
      <input type="password" id="passAgain" placeholder="Enter password again">
      <input type="submit" value="Register">
     
     
      

        <!--<div class="text-center center-block">
          <br/>
          
          
          <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        </div>
      -->

    </form>




  </div>


</div>